/****************** U S E D   F O N T S **********************/
@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source';
    src: url('../fonts/SourceSansPro-Light-webfont.eot');
    src: url('../fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Light-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ethno';
    src: url('../fonts/ethnocentric_rg-webfont.eot');
    src: url('../fonts/ethnocentric_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ethnocentric_rg-webfont.woff') format('woff'),
         url('../fonts/ethnocentric_rg-webfont.ttf') format('truetype'),
         url('../fonts/ethnocentric_rg-webfont.svg#ethnocentricregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/********************* R E S E T *************************/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	border: none;
	border-radius: 3px;
}

a{
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}
a:hover{
	color: #B82924;
}
p{
	margin-bottom: 8px;
}
::-moz-selection {
       background-color: #B82924;
       color: #fff;
}

/* Works in Safari */
::selection {
       background-color: #B82924;
       color: #fff;
}

/************** G E N E R A L    S T Y L E ***************/
#wrapper{
	width: 950px;
	margin: 16px auto;
	background-color: #121212;
	padding: 20px 20px;
	box-shadow: 0 4px 6px #000;
}

body{
	background: url('../images/bg.png') repeat;
	font-family: Source, Tahoma, sans-serif;
	color: #fff;
	font-size: 14px;
	text-shadow: 1px 1px 0px #000;
}
#srt{
	color: #f9f9f9;
	display: block;
	float: right;
	position: absolute;
	top: 14px;
	left: 180px;
	text-shadow: 1px 1px 0px #000;
	font-size: 36px;
	font-style: italic;
	font-family: ethno, sans-serif;
	font-weight: normal;
}
#ii{
	font-size: 60px;
	font-family: LeagueGothic, sans-serif;
	font-weight: bold;
	position: absolute;
	left: 169px;
	top: -3px;
	color: #b82924;
	display: block;
	float: right;
	text-shadow: none;
	font-style: italic;
	letter-spacing: 2px;
}

/************* L O G O   &  N A V   B A R    S T Y L E ****************/
header h1{
	font-family: LeagueGothic, Impact, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 4.5em;
	text-shadow: 2.8px 2.8px 0 rgb(66, 66, 66);
	position: relative;
	width: 500px;
	margin-bottom: 2px;
}
header h2{
	font-size: 20px;
	font-weight: normal;
	font-family: LeagueGothic, sans-serif;
	width: 170px;
	text-shadow: 1px 1px 0 #000;
	text-transform: uppercase;
}
#tagline{
		margin-top: -8px;
}		
#logo, nav, nav li{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom:1;
}
#logo{
	width: 270px;
}
nav a {
	color: #fff;
	font-family: LeagueGothic, sans-serif;
	text-decoration: none;
	font-size: 2.5em;
	margin-left: 25px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px #000;
}

nav{
	margin: 20px 4px 0 0;
	float: right;
}

#category{
	zoom:2.4;
	font-size: 0.3em !important;
	margin: 10px 50px 10px 0px;
}
header{
	margin-bottom: 25px;
}
#home a#homenav, #blog a#blognav, #fullwidth a#fullwidthnav, #contact a#contactnav{
	color: #b82924;
}
/*************** B A N N E R    S T Y L E ******************/
#banner{
	position: relative;
	margin-bottom: 30px;
}
#banneri{
	position: absolute;
	bottom: 15%;
	left: 0;
	width: 500px;
	background-color: rgba(0,0,0,.8);
	padding: 5px 10px;
}
#banner img{
	box-shadow: 0 4px 6px #000;
}
#banner h1{
	font-family: LeagueGothic, Impact, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px #000;
	display: inline;
}
#banner .rm{
	position: absolute;
	color: #000;
	background-color: #fff;
	padding: 4px 8px;
	right: 3%;
	bottom: -10%;
}

#support{
	font-family: LeagueGothic, Impact, sans-serif;
	background-color: rgb(248, 7, 7);
	text-transform: uppercase;
	font-size: 1.9em;
	margin: 10px 0px 10px 0px;
	font-weight: normal;
	animation: myanimation 10s infinite;
}

@keyframes myanimation {
	0% {background-color: red;}
	20%{background-color:yellow;}
	40%{background-color:green;}
	60%{background-color:brown;}
	80%{background-color: blue;}
	100%{background-color: red;}
  }

#support a{
	text-shadow: 2px 2px 0px #000 !important;
	color: #fff;
}
/************* H O M E    C O N T E N T *******************/
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  width: 50%;
  border: 3px solid #b4e9f0;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  opacity: 0;
  cursor: pointer;
}

.search:before {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  line-height: 36px;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-family: 'FontAwesome';
  content: '\f002';
}

/*Resize the wrap to see the search bar change!*/
.wrap{
	width: 60%;
	margin: 10% auto;
}

span { 
	background-color: rgb(146, 6, 6);
}

#line h1{
	font-family: LeagueGothic, Impact, sans-serif;
	font-weight: normal;
	font-size: 35px;
	text-transform: uppercase;
	color: #f8f8f8;
	text-shadow: 2px 2px 0 #000;
	text-align:  center;
}
#line h1, .dline{
	display: inline-block;
	*display: inline;
	zoom:1;
	margin: 0 0 0 10px;
}
#line{
		margin: 0 0 0 80px;
}
.dline{
	width: 312px;
	height: 3px;
	background: url('../images/bgdline.png') repeat-x ;
	margin-bottom: 10px;
}
#ourserv article{
	width: 275px;
	display: inline-block;
	*display: inline;
	zoom:1;
	vertical-align: top;
	margin: 0 38px 0 0;
}
#ourserv article h1, #latestp article h1{
	font-family: LeagueGothic, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 22px;
	margin-bottom: 5px;
}
.lastarticle{
	margin:0;
}
#ourserv{
	margin: 8px 15px 15px 0px;
	width: 100%;
}
#ourserv img, #latestp img{
	margin-bottom: 5px;
    box-shadow: 0 4px 6px #000;
}
.rm{
	color: #121212;
	background-color: #F2F2F2;
	padding: 1px 4px;
	display:block;
	width: 58px;
	margin-top: 5px;
	box-shadow: 0px 0px 3px #000;
	font-family: LeagueGothic, sans-serif;
	text-transform: uppercase; 
	font-size: 18px;
	border-radius: 2px;
}
.rm:hover{
	background-color: #B82924;
	color: #121212;
}	

#sline h1{
	font-family: LeagueGothic, Impact, sans-serif;
	font-weight: normal;
	font-size: 40px ;
	text-transform: uppercase;
	color: #f5f5f5;
	text-shadow: 2px 2px 0 #000;
	text-align: center;
}
#sline h1, .sdline{
	display: inline-block;
	*display: inline;
	zoom:1;
	margin: 0 0 0 10px;
}
#sline{
	margin: 30px 0px 10px 80px;
}
.sdline{
	width: 300px;
	height: 2px;
	background: url('../images/bgdline.png') repeat-x ;
	margin-bottom: 10px;
}
#latestp article{
	width: 210px;
	display: inline-block;
	*display: inline;
	zoom:1;
	margin-right: 20px;
}
#latestp{
	margin-left: 20px;
}

table{
	border-collapse: separate;
	border-spacing: 40px 0;
}
th h1{
	font-family: sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	font-size: 16px;
	margin-bottom: 5px;
	margin-left: 0px;
}

/************* B L O G    S T Y L E  &   C O N T A C T   P A G E *****************************/
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}

.resp-sharing-button--telegram {
  background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
  background-color: #4B97D1;}


#articles, #sidebar{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom:1;
}
#blog section, #contact section, #singlepost, #airticles{
	margin: 30px 0 0 10px;
}
#sidebar, #contact{
	width: 280px;
	margin: 0 0 0 55px;
}
#articles, #contactpost,#singlepost{
	width: 600px;
	margin:0 0 40px 0;
}
#articles li, #contact li, #sidebar li{
	list-style-type: square;
}
#articles,#singlepost{
	width: 580px;
	margin-bottom: 40px;
}
#blog footer, #contact footer{
	margin-top: 0px;
}
#articles h1 a, #singlepost h1 a{
	font-family: Georgia, serif;;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 27px;
	text-shadow: 1px 1px 0 #000;
	word-spacing: 2px;
	margin-bottom: 5px;
}
#articles h2, #singlepost h2{
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0.2px;
	margin-bottom: 12px;
	background-color: #0a0a0a;
	padding: 4px 8px 4px 8px;
	font-family: source, sans-serif;
	text-transform: none;
}
#articles h2 a:hover, #singlepost h2 a:hover{
	text-decoration: underline;
}
#articles img, #singlepost img{
	box-shadow: 0 4px 6px #000;
	margin-bottom: 10px;
}
#sidebar h1, #contact #sidebar h1{
	font-family: LeagueGothic, sans-serif;
	font-weight: normal ;
	text-transform: uppercase;
	font-size: 22px;
	text-shadow: 1px 1px 0 #000;
	word-spacing: 2px;
	margin-bottom: 4px;
}
#sidebar li, #contact #sidebar li {
	margin:0px 0px 4px 25px;
	color: #b82924;
}
#sidebar li:hover, #contact #sidebar li:hover{
	margin-left: 30px;
}
#sidebar li a:hover, #contact, #sidebar li a:hover{
	text-decoration: underline;
}
#blog aside, #contact, #sidebar aside{
	margin: 0 0 20px 0;
}
#cat, #archives, #contact #sidebar  #cat, #contact #sidebar #archives{
	width: 130px;
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom:1;
}
.continue{
	text-decoration: underline;
}
/* SINGLE POST STYLE  and CONTACT PAGE with SIDEBAR*/
#singlepost, #sidebar, #contactpost,#articles{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom:1;
}

#short h2{
	font-family: serif;
	font-size: 18px;
	opacity: 0.5;
}

pre {
	white-space: pre-wrap;
	font-family: serif;
	font-size: 18px;
	opacity: 0.8;
}

#singlepost,#articles{
	margin-right: 20px;
}
/* CONTACT PAGE */
#contactpost p{
	margin-bottom: 25px;
}
input[type="user"]{
	display: block;
	float: right;
	height: 20px;
	width: 280px;
	padding-left: 3px;
}
input[type="email"]{
	display: block;
	float: right;
	height: 20px;
	width: 280px;
	padding-left: 3px;
}
#message{
	display: block;
	float: right;
	width: 280px;
	height: 130px;
	padding-left: 3px;
}
input[type="submit"]{
	display: block;
	float: right;
	font-family: LeagueGothic, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	border: 2px outset #b2b2b2;
	color: #121212;

}
input, #message{
	margin-right: 180px;
	background-color: #f8f8f8;
	border: 2px inset #000;
	border-radius: 3px;
}
input[type="submit"]:hover{
	cursor:pointer;
}
input[type="submit"]:active{
	border: 2px inset #b2b2b2;
}

/************* F U L L  W I D T H   &  S I N G L E   P O S T    S T Y L E*********************/
#fullwidth h1,#fullwidth  h2,#fullwidth  h3,#fullwidth  h4,#fullwidth  h5,#fullwidth  h6, h1, h2, h3, h4, h5, h6{
	font-family: LeagueGothic, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}
#fullwidth section h2, #singlepost section h2{
	color: #b82924;
}
.mg{ /*just for examples, do not use this class*/
	margin: 8px 0 12px 0;
}
#fullwidth section a, #singlepost section a{
	text-decoration: underline;
}
#fullwidth section ul li, #singlepost section ul li{
	list-style-type: square;
	margin-left: 20px;
}
#fullwidth section ol li, #singlepost section ol li{
	list-style-type: decimal;
	margin-left: 20px;
}
.right{
	float: right;
	margin-left: 10px;
}
.left{
	float: left;
	margin-right: 10px;
	margin-top: 200px;
}
.center{
	display: block;
	text-align: center;
	margin: 20px auto;
}
.pagination {
	display: inline-block;
	font-family: serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 18px;
	margin-left: 160px;
}
  
.pagination a {
	color: rgb(244, 244, 248);
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}
  
.pagination a.active {
	background-color: #fc3e05;
	color: white;
 }
  
.pagination a:hover:not(.active) {background-color: rgb(190, 187, 187);}
/************* F O O T E R     S T Y L E *************************/

footer{
	margin-top: 30px;
	text-align: right;
}
