{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
{% block body %}
			<!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->
			<section>
				<article id="singlepost">
					<h1><a href="#">{{news.title}}</a></h1>
							{% if news.category == 'reviews' %}
								<h2>Posted By: Admin On {{ news.created }} IST  <span id="review"> {{news.reviews_tag}}</span></h2>
							{% else %}
								<h2>Posted By: Admin On {{ news.created }} IST</h2>
							{% endif %}
                    <div id="short">
                        <p><h2>{{news.short_desc}}<h2></p>
                    </div>
					<img src="{{news.image}}" width="600" alt="image error" />
					<script src="https://apps.elfsight.com/p/platform.js" defer></script>
					<div class="elfsight-app-7fafc504-9940-4e01-ad9d-f00f60d16cf7"></div>
					<br>
					<br/>
					<div id="desc">
						<pre>{{news.decription}}</pre>
						
						{% if news.twitter %}
							<br>
							<blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr"><a href="{{news.twitter}}?ref_src=twsrc%5Etfw"></a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
							<br>
						{% elif news.youtube %}
							<br>
							<iframe width="560" height="315" src="{{news.youtube}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<br>
						{% elif news.img %}
							<br>
							<img src="{{news.img}}" width="600" alt="image error" />
							<br>
						{% endif %}
						<pre>{{news.description}}</pre>
						<br><br>
						<div id="related">
							<h1><span>Related Posts<span></h1>
							<br>
							<div id="articles">
								<article>
									{% for obj in related %}
										<a href="{% url 'fullwidth' obj.slug %}"><img src="{{obj.image}}" width="500" height="200" alt="" /></a>
										<h3><a href="{% url 'fullwidth' obj.slug %}">{{obj.title}}</a></h3>
										<p>{{obj.short_desc}} <a class="continue" href="{% url 'fullwidth' obj.slug %}">Continue Reading &rarr;</a></p>
										</br>
									{% endfor %}
								</article>
							</div>
						</div>
					</div>
				</article>
			{% include 'sidebar.html' %}
			</section>
{% endblock body %}
</html>
		
			
    
    