{% extends 'base.html' %}
{% block head %}
    <meta name="robots" content= "noindex, nofollow">
{% endblock head %}

{% load static %}
{% block body %}
                <section>
                    <!--__--__--__-- A R T I C L E S --__--__--__--__-->
                    <table>
                        <th>
                                <article>
                                    <h1>Search Here>></h1>
                                </article>
                        </th>
                            <link rel="stylesheet" href="{% static "css/search.css" %}?20590300" type="text/css" media="screen" />
                            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
                        <th>
                            <form method="GET" action="{% url 'search' %}">
                                <input type="search" class="submit" name="s" placeholder="Go Ahead,Search In The Social Bugg">
                                <i class="fa fa-search"></i>
                            </form>
                        </th>
                    </table>
                        <div id="articles">
					            <article>
                                    <h1><a href="#">OOPs, I didn't get that :-(</a></h1>
                                </article>
                        </div>
                    {% include 'sidebar.html' %}
                </section>
{% endblock body %}