{% extends 'base.html' %}
{% load static %}
{% block head %}
    <meta name="description" content="Get the latest news, top headlines, opinions, analysis and much more from India and World including current news headlines on elections, politics, economy, business, science, culture on The Social Bugg."> <meta name="keywords" content="Latest News, India News , The Wire News, Current News Headlines, World News, India News, Online News, Politics News, Science News,Business News, World News, Culture News, Exclusive News,social bugg,the social bugg, The Social Bugg,THE SOCIAL BUGG,the social,social,bugg,BUGG,SOCIAL,Social Bugg,Social bugg"> 
{% endblock head %}

{% block body %}
                <section>
                    <!--__--__--__-- A R T I C L E S --__--__--__--__-->
                    <table>
                        <th>
                            <div = "airticles"
                                <article>
                                    <h1><span>Search Here>></span></h1>
                                </article>
                            </div>
                        </th>
                            <link rel="stylesheet" href="{% static "css/search.css" %}?20691s300" type="text/css" media="screen" />
                            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
                        <th>
                            <form method="GET" action="{% url 'search' %}">
                                <input type="search" class="submit" name="s" placeholder="Go Ahead,Search In The Social Bugg And Hit Enter">
                                <i class="fa fa-search"></i>
                            </form>
                        </th>
                    </table>
                    {% if news %}
                        {% for obj in news %}
                            <div id="articles">
					             <article>
                                    <h1>  </h1>
                                    <h1><a href="{% url 'fullwidth' obj.slug %}">{{ obj.title }}</a></h1>
                                    <h2>Posted By: Admin On {{ obj.created }} IST</h2>
                                    <img src="{{obj.image}}" width="600" height="300" alt="" />
                                    <p>{{obj.short_desc}} <a class="continue" href="{% url 'fullwidth' obj.slug %}">Continue Reading &rarr;</a></p>
					            </article>
                        {% endfor %}
                            <div class="pagination">
                                <a href="?page=1">&laquo;</a>
                                {% if news.has_previous %}
                                    <a href="?page={{ news.previous_page_number }}">{{ news.previous_page_number }}</a>
                                {% endif %}
                                <a class="active" href="?page={{ news.number }}">{{ news.number }}</a>
                                {% if news.has_next %}
                                    <a href="?page={{ news.next_page_number }}">{{ news.next_page_number }}</a>
                                {% endif %}
                                <a href="?page={{ news.paginator.num_pages }}">&raquo;</a>
                            </div>
                        </div>
                    {% else %}
                        <div id="articles">
					            <article>
                                    <h1>Also Read</h1>
                                    <br>
                                    <table id="search">
                                        {% for obj in recent %}
                                            <td>
                                                <img src="{{obj.image}}" width="250" height="150" alt=""/>
                                                <a href="{% url 'fullwidth' obj.slug %}"><h3>{{obj.title}}</h3></a>
                                            </td>
                                        {% endfor %}
                                    </table>
                                </article>
                        </div>
                    {% endif %}

                </section>
{% endblock body %}