{% extends 'base.html' %}
{% load static %}
{% block body %}
                <section>
                    <!--__--__--__-- A R T I C L E S --__--__--__--__-->
                    <div id="articles">
                        <article>
                            <h1>Search Here>></h1>
                        </article>
                    <link rel="stylesheet" href="{% static "css/search.css" %}?20190300" type="text/css" media="screen" />
                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
                    <form method="GET" action="{% url 'search' %}">
                        <input type="search" class="submit" name="s" placeholder="Go Ahead,Search In The Social Bugg">
                        <i class="fa fa-search"></i>
                    </form>
                    </div>
                    {% if news %}
                        {% for obj in news %}
                            <div id="articles">
					             <article>
                                    <h1><a href="{% url 'fullwidth' obj.slug %}">{{ obj.title }}</a></h1>
                                    <h2>Posted By: Admin On {{ obj.created }}.</h2>
                                    <img src="{{obj.image1.url}}" width="600" height="300" alt="" />
                                    <p>{{obj.short_desc}} <a class="continue" href="{% url 'fullwidth' obj.slug %}">Continue Reading &rarr;</a></p>
					            </article>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div id="articles">
					            <article>
                                    <h1><a href="#">No title found. Sorry :-(</a></h1>
                                </article>
                        </div>
                    {% endif %}
                    {% include 'sidebar.html' %}
                </section>

{% endblock body %}